[2019-07-31 14:45] pierreozoux opened #58 "Abstraction for operator dependencies"
I'm trying to push that upstream of kubernetes
https://github.com/kubernetes/enhancements/issues/706

I guess you understand what it is about :) Do you think you could help me?

Thanks!

[2019-08-22 11:48] cpanato commented on #58
sorry @pierreozoux I don't. can you elaborate?

[2019-10-11 15:03] cpanato commented on #58
closing. no activity

[2019-10-11 15:03] #58 closed

[2019-10-15 12:33] MSaurus opened #90 "Kubernetes won't pull down the right mattermost-operator version"
When I install mattermost-operator on a kubernetes cluster that already have pulled down the image before, it won't get the latest version of mattermost-operator. In [this documentation file](https://github.com/mattermost/mattermost-operator/blob/master/docs/mattermost-operator/mattermost-operator.yaml) you use both `image: mattermost/mattermost-operator:latest` and `imagePullPolicy: IfNotPresent`

[2019-10-15 12:38] jozuenoon commented on #90
Method with `latest` would work, but versioning is more pragmatic and feels like good idea :+1:

[2019-10-16 15:34] gabrieljackson commented on #90
Thank you for the feedback @MSaurus!

We are aware that we currently have that configuration of `latest` + `IfNotPresent` in this manifest file. This is partly due to the operator being very much in flux and also due to some cross referencing of the manifests here with those used in the [cloud server](https://github.com/mattermost/mattermost-cloud).

That said, we can definitely improve this and w

[2019-10-17 07:47] MSaurus commented on #90
Thanks! If there is something I can help with just let me know :)

[2019-11-08 15:08] macevil opened #97 "Mattermost install-kubernetes TLS Ingress Controller"
We have installed Mattermost with the k8s [manual](https://docs.mattermost.com/install/install-kubernetes.html). Successful! :) After that we tried to [configure](https://kubernetes.io/docs/concepts/services-networking/ingress/#tls) a TLS certificate on the Mattermost Ingress Controller, but there is no option in the `mattermost-installation.yaml`.

[code]

Will this feature come or can we solve t

[2019-11-11 13:47] cpanato commented on #97
Thanks @macevil checking the code, the TLS is really missing, we can add that.
Are you willing to open a PR to add this missing item? otherwise, I can make it happen.
thanks

[2019-11-17 10:26] macevil commented on #97
@cpanato so we try it :)

[2019-11-18 01:46] fire opened #103 "Configure to use postgresql"
There doesn't seem to be way to configure to use postgresql.

[2019-11-19 07:28] cpanato commented on #97
cool @macevil any questions let me know

[2019-12-12 16:54] matthew-parlette opened #111 "Mattermost can't reach mysql"
I've followed the instructions to [install mattermost via operators on kubernetes](https://docs.mattermost.com/install/install-kubernetes.html), but my mattermost init pod 1 can never reach the mysql instance. I'm seeing this repeated in the logs:

[code]

I've tested the connection to mysql by connecting to it from another pod to two different services in the `mattermost` namespace:

[code]

But

[2019-12-16 22:15] DustinAlandzes commented on #97
I also got the operator running, with nginx-ingress but want to use HTTPS/SSL/TLS. Do I need to make an Ingress like @macevil has in the first post?

Have been trying to follow this to install cert-manager and use lets encrypt: https://cert-manager.io/docs/tutorials/acme/ingress/

But I still see the Acme Co fake certificate

My `mattermost-installation.yaml` looks like this:
[code]

[2019-12-18 12:54] macevil commented on #97
Hey @DustinAlandzes,
your mattermost-installation.yaml is correct, but during Mattermost Operator Installation the Ingress tls spec is not generated yet.

You can take a look in your deployt Mattermost Ingress, this section will be missing and that's the reason why you still getting the Fake Cert.
[code]

We fixed this with https://github.com/mattermost/mattermost-operator/issues/97

[2019-12-21 04:38] DustinAlandzes commented on #97
I see your fork/pr!

https://github.com/mattermost/mattermost-operator/pull/113

https://github.com/macevil/mattermost-operator/commit/869a3eb202e336c980f8ea7e865a1294822030dd

I will try this when I get the chance! tyty

[2020-01-09 08:16] cpanato commented on #103
Hello @fire
today we only support Mysql as a builtin solution using the Mysql Operator.
to use Postgres you will need to spin an external Postgres and then create a secret with the connection string and when creating the Mattermost installation you set this in the manifest in the field: `Secret` under `Database`

you can see here: https://github.com/mattermost/mattermost-operator/blob/bae2543291b4

[2020-01-09 08:16] #103 closed

[2020-01-09 08:19] cpanato commented on #90
@MSaurus you should not use the latest tag in your production system, please use a specific tag instead

the way we set the latest +  IfNotPresent is more for the CI tests.
if you are using for testing only you can change the manifest to change the imagePullPolicy

Closing this, feel free to open a new issue if still have problems.

[2020-01-09 08:19] #90 closed

[2020-01-09 08:20] cpanato commented on #111
hello @matthew-parlette
what version are you using?

[2020-01-09 10:24] macevil opened #116 "emojis are always represented as ?"
We use default Mattermost 5.18 on [Kubernetes](https://docs.mattermost.com/install/install-kubernetes.html) and get all emojis only shown as ?.

<img width="208" alt="client" src="https://user-images.githubusercontent.com/30493519/72058957-5727c800-32d1-11ea-8bf1-b76807f6e393.PNG">

When I look at the database, it is displayed correctly:
<img width="208" alt="db" src="https://user-images.githubuse

[2020-02-01 20:58] Born2Bake opened #123 "size: xxxxXusers is not working when you want to scale"
-----
**Begin Edit by @gabrieljackson**

The Mattermost Operator currently offers two ways to set resources for the Mattermost app pods and supporting database and filestore pods. One method is to use the [Size](https://github.com/mattermost/mattermost-operator/blob/master/pkg/apis/mattermost/v1alpha1/clusterinstallation_types.go#L29) configuration option and the other is to set the [Resources and

[2020-02-03 15:42] gabrieljackson commented on #123
Hello @Born2Bake,

Thanks for bringing this to our attention. You are correct that we do want the operator to scale mattermost installations up and down on demand.

I just tested this and your findings seem to be correct where sizeA -> sizeB does not properly update the underlying resource counts. We will look into this and correct it.

Keep in mind that the size values are always overridden by th

[2020-02-05 16:56] ivankennethwang opened #124 "*deleted*"
*deleted*

[2020-02-05 17:24] #124 closed

[2020-02-28 16:45] liusy182 opened #129 "panic when doing `dep init`"
I am trying to follow the README.md to set up the dev environment. I am getting the a bunch of errors while doing `dep init` right before step `make dep`. One of them is:

[code]

Another overall question: should `Gopkg.toml` be checked in (currently it is missing)?

[2020-02-28 17:24] gabrieljackson commented on #129
Thanks for bringing this to our attention @liusy182. We have moved to Go Modules and no longer use Dep, but our README and Makefile is out of date.

I will update both shortly.

[2020-02-28 18:53] gabrieljackson commented on #129
@liusy182, I have updated the README for the operator. Please let us know if you have any further issues.

[2020-02-28 18:53] #129 closed

[2020-03-04 17:35] tegk opened #131 "Retreive information that were used during installation?"
I do not have access to mattermost-installation.yaml that was used when installing but would like to upgrade the version.

Where can I find those information?

[2020-03-09 17:35] gabrieljackson commented on #131
Hello @tegk, could you clarify a bit on what you are asking? If you would like to update the Mattermost custom resource you can look here for the definition of the configuration file:

https://github.com/mattermost/mattermost-operator/blob/master/deploy/crds/mattermost.com_clusterinstallations_crd.yaml

[2020-03-20 06:17] ChinyaSuhail opened #133 "kubernetes mattermost installation failure and unable to change fake ssl"
I'm following the default guide to launch mattermost on Kub:
post installation I'm getting 503 error and the SSL is not generated for the url required

[2020-03-24 13:51] #97 closed

[2020-04-20 18:01] gris-gris opened #140 "Can I use this operator for Mattermost community installation?"

[2020-04-21 06:15] cpanato commented on #140
Yes @gris-gris you can just change the `image` and the `version` in the spec

[2020-04-21 06:15] #140 closed

[2020-04-27 07:46] mirkan opened #142 "Using external mysql"
Hey,

Is it possible to use and configuration for a mysql running externally outside the cluster?
There's seems to be some information here:
https://github.com/mattermost/mattermost-operator/blob/master/docs/mattermost-operator/mattermost-operator.yaml#L768
but I cant figure it out.

Thank you.

[2020-04-27 09:28] mirkan commented on #142
Nvm I managed to solve this. Added a secret like this:

`---
apiVersion: v1
kind: Secret
metadata:
  name: externaldb
type: Opaque
data:
  # echo -n 'mysql://mmuser:<password>(<domain/ip mysql-server>:3306)/mattermost' | base64
  DB_CONNECTION_STRING: bXlzcWw6Ly9tbXVzZXI6d2VmZWVMZWU3dGhlaXghQHRjcChtYXR0ZXJtb3N0LW15c3FsLTAxLms4cy5iYWhuaG9mLm5ldDozMzA2KS9tYXR0ZXJtb3N0`

[2020-04-27 09:30] #142 closed

[2020-04-27 09:30] mirkan commented on #142
closing

[2020-05-12 02:31] mterhar opened #143 "Minio InitContainer fails with custom cluster DNS"
https://github.com/mattermost/mattermost-operator/blob/018b4f3988a7a9a6e311038696872093e80412ac/pkg/controller/clusterinstallation/minio.go#L129

`"%s.%s.svc.cluster.local:%d"` is used for the minio connection string.

I have a custom DNS for my cluster so hard-coding the `cluster.local` in there makes it unable start for me.

[2020-05-12 03:20] mterhar commented on #143
The workaround is pretty gross.

[code]

Remove all references to `svc.cluster.local`, you should find 3 of them. One for provisioning the minio buckets, one for curling the bucket status, and one in the object storage environment variable.

Save and exit the edit mode and you'll see a new replicaset firing up. I typically delete the old one.

You'll also notice the `clusterinstallation` object is

[2020-05-25 15:23] #143 closed

[2020-06-02 20:48] therealmitchconnors opened #148 "Clarify BYO SQL instructions"
The [FAQ](https://docs.mattermost.com/install/install-kubernetes.html#frequently-asked-questions) indicates that you can bring your own instance of MySQL to use with the Operator, instead of relying on the (broken for me) mysql operator.

I can also see that docs/examples/full.yaml seems to imply that an 'externalSecret' value can be set to indicate the password of the external database, but there

[2020-06-09 02:41] mterhar opened #150 "Websocket forwarding not working with Nginx ingress"
Hi folks,

I've been further tinkering and the websocket can't make a connection from outside my cluster to inside.

First off, everything works fine when I'm posting messages or connecting bots or whatever. The only thing that is a problem is the websocket.

<img width="804" alt="image" src="https://user-images.githubusercontent.com/938684/84099361-71c4b100-a9d7-11ea-88a7-a9fe851b6f44.png">

The

[2020-07-21 09:12] Szymongib commented on #123
Hi @gabrieljackson,
I was thinking that the `spec.Size` field could be treated as a write-only field.

Setting the field would override Replicas and Resources to appropriate value no matter if they were set manually, but the field itself would not be preserved on the CR, therefore further overrides of Replicas or Resources would not be discarded and they would not be in conflict with the `spec.Siz

[2020-07-21 19:35] gabrieljackson commented on #123
@Szymongib, after thinking about this for a bit I am pretty sure it's a great solution!

It meets all of the criteria that I would be looking for:
1. By looking at the spec, I could see definitive values for the resources whether I had overridden any or not
2. Setting a new size would update all the values
3. Values could be manually tweaked after an initial size value was chosen.

I think this co

[2020-07-21 19:49] jwilander commented on #123
I like that solution 👍 Only point I'd make is to make sure we document that field as write-only so that it's clear to users of the spec

[2020-07-23 22:58] #123 closed

[2020-07-25 02:29] mterhar commented on #150
For anybody else stumbling across this, the problem is that I used the Nginx ingress from Nginx rather than the one bundled with Kubernetes. This meant a lot of little differences including spanning namespaces and adding configuration snippets.

Replacing that ingress controller with the kubernetes bundled one fixed the websocket issue entirely.

[code]

`helm list` brings up the chart version as

[2020-07-25 02:29] #150 closed

[2020-08-02 19:16] mterhar commented on #111
Mine was running fine for several months and then this problem happened randomly.

[2020-08-03 00:24] mterhar commented on #111
I scaled the operator down to 0 pods and opened the deployment. Manually changed the db-33333-mysql.mattermost address to `mysql` and the services all connected back up...

Obviously this isn’t a fix. Just more info for troubleshooting.

[2020-09-11 05:44] qiang93 opened #174 "How to add custom annotations field?"
values.yaml add metadata.annotations not effect.
[code]

[2020-09-23 13:59] erezo9 opened #180 "Adding support for custom CA certificates"
For assuring that the machine will not get signed by unkown authority if has custom ca certifcates
And using skip ssl verify is not supported on some components (s3, jenkins plugin etc..)

suggesting adding to the cr
certificates
  secret:
    - secret 1
    - secret 2

and in the mattermost.go

add something like this - creating one big volume and volume mounts
havent figured out where and how to

[2020-10-09 13:26] larkly opened #185 "Docker image: Executable file not found in $PATH"
When moving pods to new nodes (forcing a new image pull), the mattermost-operator deployment fails with ErrImagePull and CrashLoopBackoff, with events like:
[code]

Specifying the image digest to the last known good image provided a workaround to the issue:
`image: mattermost/mattermost-operator@sha256:45fdb00b2e7623ab12f3b8023aa6966db6a7ebd1f4f89409692e657ed9f2d0d6`

It seems like the latest buil

[2020-10-12 07:40] Szymongib commented on #185
Thank you for reporting the issue.
I think that it is caused by Deployment not matching the image, as the Deployment changed slightly recently and the new image was pushed with the `latest` tag.
I think using the tag `v1.8.0` should work fine also with the existing Deployment. To use the latest again you would have to apply the latest yamls with the Operator from https://github.com/mattermost/matt

[2020-10-28 08:01] inductor opened #188 "minio operator is very old"
minio operator is now 3.0.28, while you use 1.0.7

any plans to upgrade it?

[2020-10-30 01:19] BobyMCbobs opened #191 "Custom TLS options"
# Goal

The operator should allow for custom TLS certificates for Ingress.
[Currently](https://github.com/mattermost/mattermost-operator/blob/6b5534906d081f960b4ceddcd6c48ec9468f6244/pkg/mattermost/mattermost.go#L113), the expected secret name is the Ingress manifest's name + _-tls-cert_.

When using LetsEncrypt via Cert-Manager, the secrets are named however the user requests it to be.

## Action

[2021-01-03 03:21] elijahomolo commented on #185
@Szymongib I'm running into the same issue as well. I'm using the tag v1.8.0 which also runs into the error.

Environment: DigitalOcean kubectl 1.19.3

[2021-01-04 08:20] Szymongib commented on #185
Hi @elijahomolo, are you running the manifest from v1.8.0 Operator or an image with tag `v1.8.0`?
Unfortunetly until recently we were releasing manifests with `latest` tag wich most likely caused the issue.

I would suggest verifying that the Operator image is not running tag `latest` and if so change it to `v1.8.0` or update the whole manifest to the newer version.

[2021-01-07 04:27] elijahomolo commented on #185
Hi @Szymongib  the image tag is `latest` and the manifest from  v1.8.0 Operator

[2021-01-07 08:00] Szymongib commented on #185
Thanks for info @elijahomolo.
That is probably what causes the issue as there is mismatch between the image and the rest of manifest. We have already fix an issue so that release manifest does no longer use the `latest` tag but it was not yet the case for v1.8.0.

To mitigate the issue I would recommend either updating whole manifest to the latest version (v1.11.1 at this time) or changing the ima

[2021-02-08 11:17] Szymongib opened #215 "Add owner reference to update-check job so that it points to Mattermost resource"
## Description

When modifying `spec.image` or `spec.version` of Mattermost resource the update-check job is run to ensure image is correct.
However, the job is not owned by the Mattermost resource which causes Operator to not to pick up when the job completes and carry on with update.

### Possible solution

Very simple and reliable solution would be to add `OwnerReference` to the job, so that it

[2021-02-08 11:24] Szymongib opened #216 "Add end-to-end test working with external database"
## Description

Current end-to-end tests of Mattermost Operator run using MySQL Operator and MinIO Operator. We should add another test which runs with an external database configuration.

This could be achieved by creating separate Postgres deployment on the Kind cluster on which the tests are run, and treat it as an external database.

Setting up of the deployment can be done either in bash scri

[2021-02-13 18:10] unboxcoms opened #220 "Mattermost K8 / Reconciling State"
Hi,

I followed the official documentation to deploy MM on K8s; however my installation process is stuck with custom resource state at "reconciling"

<img width="753" alt="Screenshot 2021-02-13 at 9 24 01 PM" src="https://user-images.githubusercontent.com/61178409/107857556-dda7c500-6e54-11eb-91c1-dd6ab04df047.png">

[2021-02-15 08:11] Szymongib commented on #220
Hi @unboxcoms, could you share your Mattermost manifest file and what is environment, k8s version etc. you are running on? Also Operator logs would be helpful, if you used `mattermost-operator` namespace for deploying the Operator you should be able to get them with this command:
[code]

[2021-02-16 18:32] Szymongib commented on #220
Resolved on Mattermost community.
The issue was caused by invalid database connection string.

[2021-02-16 18:32] #220 closed

[2021-02-17 16:25] mjnagel opened #221 "Image pull secrets"
I have the Mattermost image hosted in private registry that requires authentication.

When building a Mattermost instance using the operator I don't see a way to provide my authentication (aka image pull secrets).

If there is a way to either specify this secret or specify the service account to use for Mattermost which already exists, that would be a great help to me! If not, can we get this adde

[2021-02-18 10:46] Szymongib commented on #221
Hi @mjnagel,
I am afraid it is not currently possible to specify `ImagePullSecrects` nor the `ServiceAccount`.
I do not see any problem with adding it tho.

Any thoughts @gabrieljackson?

[2021-02-18 14:56] gabrieljackson commented on #221
Yep, I think this makes a ton of sense and would be great to have. We can create two help wanted tickets (pull secret and another for service account) to add this functionality.

[2021-02-19 21:32] mjnagel commented on #221
Awesome, thanks @gabrieljackson and @Szymongib . I'll be tracking this issue and would love to be kept posted on updates.

[2021-02-23 10:24] Szymongib opened #223 "Add ability to specify Image Pull Secrets on Mattermost resource"
#### Summary
As discussed in #221 we would like to be able to specify `ImagePullSecrets` for Mattermost images.
For that we need to add new field to [Mattermost spec](https://github.com/mattermost/mattermost-operator/blob/master/apis/mattermost/v1beta1/mattermost_types.go#L25) and propagate it when [creating to Deployment](https://github.com/mattermost/mattermost-operator/blob/master/pkg/mattermos

[2021-03-22 09:49] Szymongib opened #224 "Do not return errors from reconciliation when waiting for update job"
#### Summary
Before changes are rolled out to Mattermost deployment, the update job is deployed to verify that the image is correct. The Operator waits for the job to complete before starting deployment update.

From reconciler perspective, when the job is still running the error is returned to requeue reconciliation request. If error occur enough number of times, in rare cases this may significan

[2021-04-07 18:07] mjnagel opened #226 "Allow custom db check init container image"
#### Summary
Currently the DB check hardcodes the image to either a [curl image](https://github.com/mattermost/mattermost-operator/blob/master/pkg/mattermost/database_external.go#L93) or a [postgres 13 image](https://github.com/mattermost/mattermost-operator/blob/master/pkg/mattermost/database_external.go#L104) depending on the DB connection string. It would be great to have the ability to customi

[2021-04-08 15:21] #223 closed

[2021-04-08 15:31] Szymongib commented on #226
Thanks for reporting the issue.

I think if we provide the ability to override the image I can see people wanting to modify the command also.
If we would like to go with that, maybe we could take the following approach:
[code]

The `readinessCheck` is just random name I came up on the spot and we can think of something better, the point is that it will allow user to customise the check further.

I

[2021-04-08 15:37] mjnagel commented on #226
That makes sense to me, allowing more customization would be better for future-proofing I'd imagine since someone else could come along and want to customize a different piece of this (command as you mentioned definitely would be a big one).

[2021-04-22 14:48] silvermind opened #228 "Configure custom.json for e.g. Plugins using the Operator with a mounted ConfigMap"
Hi,

Does the new mattermost operator somehow supports the configuration of custom.json ?

I'm looking for a way to configure the welcomebot in a fully ansible managed setup which seems to require edditing the config.json file. Any ideas on how to achieve this using the operator?

A custom volume mount with a ConfigMap may seems the way to go. But I can't get it to work yet:

[code]
something like

[2021-05-25 18:56] mjnagel commented on #180
Posting to also request support for this. This feature is much needed.

[2021-05-27 18:41] gabrieljackson commented on #180
Oh, it's possible that this feature is now possible via our `beta` CR with our generalized volume mounts:

[code]

Looking over the request here, it should be possible to use the to fulfill the original CR cert request. Please let me know if there is something missing and we can add it.

[2021-05-28 14:05] mjnagel commented on #180
@gabrieljackson absolutely that would work for us at least for the time being. In our case we would like to use this for OIDC (having mattermost trust the CA for our OIDC host). Where does MM source the truststore for that from (i.e. where should we be mounting our OIDC CA to)?

[2021-05-28 15:39] erezo9 commented on #180
@mjnagel /etc/ssl/certs
  extraVolumes:
    - name: certificates
      secret:
        secretName: certificates
  extraVolumeMounts:
    - name: certificates
      mountPath: /etc/ssl/certs/cert1.pem
      subPath: cert1.pem
    - name: certificates
      mountPath: /etc/ssl/certs/cert2.pem
      subPath: cert2.pem
like this

[2021-05-31 01:56] vineelyalamarthy commented on #228
Is help needed on this ticket still?

[2021-07-19 21:04] mjnagel commented on #226
Any progress on this/is help wanted implementing this? This is something we definitely want so that we can override the image (although the additional flexibility to override the entire init container may be nice as well).

[2021-07-20 01:12] gabrieljackson commented on #226
Hey @mjnagel, sorry about the delay on this.

Yes, this is exactly the sort of feature request we would love to have community engagement on. It has been opened as a help wanted ticket and we will add it ourselves in the coming weeks if there are no volunteers.

[2021-07-21 20:20] #221 closed

[2021-07-21 20:31] mjnagel opened #235 "Allow disabling of Ingress creation"
#### Summary
Currently the operator/CRD do not allow creation of a Mattermost instance without an ingress. The value `spec.ingressName` is always required to the best of my knowledge.

Our use case for this is deploying MM without an ingress and using "alternative ingress" via a service mesh and would prefer that this ingress is not created.

#### Possible fixes
Provide a new value (defaulted to t

[2021-07-22 07:42] Szymongib commented on #235
Hey @mjnagel, thanks for reporting the issue.

I can see the use case for opting out of Ingress creation and it definitely makes sense.

I also like the proposed solution, especially the second one but as you correctly mentioned we probably do not want to introduce the breaking change immediately.

What we could do tho is to add a new Ingress section and deprecate the old fields using them only if

[2021-08-11 11:02] runyontr opened #237 "Mattermost Taint/Toleration Support"
#### Summary

The Mattermost Operator does not expose tolerations as part of the scheduling spec:

https://github.com/mattermost/mattermost-operator/blob/master/apis/mattermost/v1beta1/mattermost_types.go#L96

#### Steps to reproduce

Create Kubernetes nodes with a Taint and try and schedule the mattermost pods on those nodes.

#### Expected behavior
Given a taint, we should be able to tell the ma

[2021-08-11 13:22] Szymongib commented on #237
Hey, thanks for submitting the issue.

I think adding this could make sense and I really like the first solution proposed with a slight adjustment to keep it in line with `PodSpec` so that would be.
[code]

Marking it as a `help wanted` for now if anyone is willing to help on that.

[2021-08-13 20:49] vineelyalamarthy commented on #237
@Szymongib  is it up for grabs. What are other interesting problems to solve.

[2021-08-13 21:04] gabrieljackson commented on #237
@vineelyalamarthy, yes this ticket is up for grabs if you want to take a shot at implementing it.

[2021-08-13 21:06] vineelyalamarthy commented on #237
yes sure. @gabrieljackson  would like to check out some tasks on the app backend as well. Any pointers.

[2021-08-13 21:08] gabrieljackson commented on #237
Are you referring to the Mattermost App itself? If so, those help wanted tickets can be found here: https://github.com/mattermost/mattermost-server/issues?q=is%3Aopen+is%3Aissue+label%3A%22Up+For+Grabs%22

[2021-08-13 21:38] vineelyalamarthy commented on #237
@gabrieljackson  can you assign this to me.

[2021-08-13 21:44] gabrieljackson commented on #237
@vineelyalamarthy Done! Thanks for taking this on.

[2021-08-19 09:27] Szymongib commented on #226
As discussed, picking this one up due to this feature being a higher priority and lack of interest from the community side.

[2021-08-26 09:22] Szymongib opened #244 "Changing service type for Mattermost managed by Operator requires deleting service"
#### Summary
When changing the service type used by Mattermost with `useServiceLoadBalancer` either `true -> false` or `false -> true` the manual intervention of deleting the Service is required as some immutable fields change.

Mattermost Operator should be able to handle it either by doing smart update omitting immutable fields (if possible) or recreating the Service automatically.

#### Steps t

[2021-09-01 09:56] camilamacedo86 opened #246 "Operator projects using the removed APIs in k8s 1.22 requires changes."
### Problem Description

Kubernetes has been deprecating API(s), which will be removed and are no longer available in 1.22. Operators projects using [these APIs](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-22) versions will **not** work on Kubernetes 1.22 or any cluster vendor using this Kubernetes version(1.22), such as OpenShift 4.9+. Following the APIs that are most lik

[2021-09-02 09:58] Szymongib opened #247 "Add error information to Mattermost CR status"
#### Summary
Currently, the only way to see that there are some issues with processing Mattermost CR is to check logs of the Operator. While this should still be a way to go for a detailed error report, adding the `error` section to Mattermost CR status would be helpful to signal to the user that something is not right.

#### Possible solution

We can add a new `Error` field to `MattermostStatus`

[2021-10-02 17:27] dimitraz commented on #247
Hey! I would be happy to take a look at this for hacktoberfest if it's available :)

[2021-10-02 18:25] Szymongib commented on #247
Hey @dimitraz, thanks for your interest!
It is available, feel free to take a look or ask for more details if something is unclear.

[2021-10-03 09:16] dimitraz commented on #247
@Szymongib Cool thanks, will do!

[2021-10-03 20:57] covert8 commented on #228
I'm also trying to configure config.json through the operator.
It seems this is impossible. The suggested change could work, but the volumeMounts and volumes are not exposed through the operator. Although the best solution would be to just expose the configJson attribute as in the teams chart.

[2021-10-04 18:24] dimitraz commented on #247
@Szymongib Just a quick question, what CR example would you recommend deploying for dev? At the moment I'm using the one in `docs/examples/simple_anywhere.yaml` but was wondering what you would typically use!

[2021-10-05 07:06] Szymongib commented on #247
@dimitraz You might want to use `docs/examples/mattermost_simple_anywhere.yaml`. It is basically the same but it uses a new CR. I think we want to add this feature only to `Mattermost` CR from `v1beta1` version as we no longer extend the old `ClusterInstallation`.

[2021-10-05 08:50] dimitraz commented on #247
Ah yes sorry, that's the one I've been using, I'll continue with that then! Thanks

[2021-10-13 05:23] erezo9 commented on #180
Since it was added in the new operator version I am closing this

[2021-10-13 05:23] #180 closed

[2021-10-13 19:29] dimitraz commented on #247
Hey, apologies this took a while, I've been a bit busy! PR is here: https://github.com/mattermost/mattermost-operator/pull/253

[2021-10-18 10:29] felix-dpg opened #255 "Local File store"
#### Summary
Why in the CRD definition is not present Local File store?  Its not possible to deploy mattermost in k8s using the operator (or the helm chart) with local file store?

In the docs say that is possible to use it: https://docs.mattermost.com/configure/configuration-settings.html#file-storage-system

#### Expected behavior
Use Local File store in the mattermost deployed in k8s.

[2021-10-19 09:25] Szymongib commented on #255
In theory, it would be possible to configure local file store with environment variables. This is not possible with CRD tho, as containers file system is transient therefore unless you mount a persistent volume you would lose all your data whenever containers restart.

[2021-10-19 09:40] felix-dpg commented on #255
Yes, I will mount a persistent volume, so, please, where in the docs talk about local file store with env variable?

[2021-10-19 10:37] Szymongib commented on #255
We only recently added support for volumes and using external file store is more aligned with cloud application. Also as you mentioned there is always option for deploying Minio so I suppose there was never real need for it.

[2021-10-19 11:12] nicolas-goudry opened #257 "Allow defining Service type"
#### Summary

Currently the CRD doesn’t allow defining the Service type, defaulting to a type of `ClusterIP`.

This is needed in order to support [GKE Ingress](https://cloud.google.com/kubernetes-engine/docs/concepts/ingress), which do not allow to bound to a Service of type `ClusterIP` when [container native load balancing](https://cloud.google.com/kubernetes-engine/docs/concepts/container-native

[2021-10-19 11:34] Szymongib commented on #257
Thanks for the detailed explenation @nicolas-goudry. I will look into this.

As for the workaround, you should be able to just create another service pointing at Mattermost pods and customize it to your own demands.

[2021-10-20 08:07] felix-dpg opened #258 "Yamls are wrong"
#### Summary
Yamls are defined in a wrong way

#### Problem

In the docs, the operator are applied using this URL:

https://docs.mattermost.com/install/install-kubernetes.html

$ kubectl apply -n mattermost-operator -f https://raw.githubusercontent.com/mattermost/mattermost-operator/master/docs/mattermost-operator/mattermost-operator.yaml

The mattermost-operator.yaml define a service account that

[2021-10-20 09:34] Szymongib commented on #258
Hey, thanks for reporting the issue.

The namespaces are populated thanks to `-n mattermost-operator`. I think there used to be some idea to make namespace configurable that is why the `metadata.namespace` was not set, but indeed it does not make much sense due to the Cluster Rolebinding subject.

I will fix it with the upcoming release.

[2021-10-20 11:05] felix-dpg commented on #258
Hey:

Also the ingress yamls and CRD are...wrong??

Problem:

In the docs say that learn more about CRD here:

https://github.com/mattermost/mattermost-operator/blob/master/config/crd/bases/installation.mattermost.com_mattermosts.yaml

In the yaml doc CRD, there is a different definition for ingress option, also in this same doc say:

*description: 'IngressAnnotations defines annotations passed to

[2021-10-21 07:35] felix-dpg commented on #258
I  mean update the CRD docs with the same CRD that appear here https://github.com/mattermost/mattermost-operator/blob/master/config/crd/bases/installation.mattermost.com_mattermosts.yaml.

[2021-11-02 09:38] nicolas-goudry opened #260 "Proper way to backup/restore config"
#### Summary

Regarding the several different ways config can be handled when using the operator, I’m wondering if there is a proper way to backup the config file? And also restore it?

#### Expected behavior

Provide a way (or several ways) to handle config backup/restore in Operator documentation.

#### Observed behavior

Nothing related to config backup/restore is present in Operator documentat

[2021-11-02 11:21] nicolas-goudry commented on #260
As of my understanding, there is three ways to handle this:
1. via `configMap`:
    - create a `configMap` with environments variables corresponding to desired configuration
    - set all variables in installation manifest with `valueFrom.configMapKeyRef`
2. via `volumes` and `volumeMounts`:
    - create a `configMap` from `config.json` file
    - create a `volume` from this `configMap`
    - crea

[2021-11-02 11:21] #260 closed

[2021-11-02 11:49] Szymongib commented on #260
@nicolas-goudry Config in the database is the correct way. Mattermost Operator uses it by default as Operator sets `MM_CONFIG` based on the database configuration. Unless you want to use a different database for config, explicitly setting `MM_CONFIG` is not necesarry.

In regards to config in volumes, I do not think using `ConfigMap` is possible as `ConfigMap` can only be mounted as read-only whil

[2021-11-03 19:16] mjnagel opened #261 "Disabling ingress still requires `ingress.host`"
#### Summary

The new `ingress.enabled` spec does allow users to disable ingress but it seems like the `ingress.host` value in the spec is used for much more than just the ingress. Disabling ingress without providing an "accurate" value to `ingress.host` causes a number of issues.

#### Steps to reproduce
1. Deploy the operator.
2. Deploy a Mattermost resource with `ingress.enabled` set to false a

[2021-11-04 08:57] Szymongib commented on #261
Thanks for reporting the issue, that is definitely a bug.

Interestingly enough the side does load for me but the issue happens after login. Looking at the code it must have been an issue before too when using `useServiceLoadBalancer` and leaving `ingressName` empty.

I think for now we can set `SiteURL` to empty if the ingress host is not provided, that should make Mattermost work and display the

[2021-11-04 15:10] mjnagel commented on #261
Thanks for resolving this so quick and providing extra insight into the issue and workaround available. Agreed - better to set it with an ENV than add a new spec value for it.

[2021-11-10 19:27] #261 closed

[2021-12-03 17:58] mjrussell commented on #140
@cpanato is this true? I see the Cluster settings are set (which makes sense because it runs multiple replicas) but the docs seem to imply this setting is only available in enterprise plans https://docs.mattermost.com/configure/configuration-settings.html#high-availability

[2021-12-07 11:01] cpanato commented on #140
@mjrussell you can use the community edition but not with HA, so you will have only one replica

[2021-12-10 09:29] paddatrapper opened #263 "Feature Request: Add mattermostEnv environment variables to init containers"
Add the mattermostEnv environment variables to the Init Contianers. This would allow setting the database username and password from a secret in the form:

[code]

With a database connection string using `$DB_USER` and `$DB_PASSWORD`, with shell expansion to the correct values. This is helpful for setups using a postgres-operator, where the user's password is automatically generated and stored in

[2021-12-10 09:45] paddatrapper commented on #263
Adding to that, it would be great if Mattermost interpreted environment variables in the connection string correctly, so that this worked in the mattermost container too.

[2021-12-10 11:17] Szymongib commented on #263
Hey @paddatrapper,

I do not think we would like to pass those envs to the Init Containers as they are meant to be specific for Mattermost.

What you can do tho, is to define your own init containers for which you can define your own envs:
[code]

[2021-12-10 13:22] paddatrapper commented on #263
Are those extensions patched in or does it require a full definition of the initContainer?

[2021-12-13 07:38] paddatrapper commented on #263
Hmm... It seems this is pointless until mattermost supports interpreting the environment variables within the connection string anyway. Thanks for the guidance!

[2021-12-13 07:38] #263 closed

[2021-12-13 16:34] mjnagel opened #266 "Service port standard naming for Istio"
#### Summary

Currently the service that is created by the operator has two ports, `app` and `metrics` (code [ref](https://github.com/mattermost/mattermost-operator/blob/master/pkg/mattermost/mattermost_v1beta.go#L73)).

Istio (service mesh) utilizes the port names for [automatic protocol detection](https://istio.io/latest/docs/ops/configuration/traffic-management/protocol-selection/) for its side

[2021-12-13 16:55] mjnagel commented on #263
@paddatrapper I have done this in the past to override the init container:
[code]

In your case you could reference a secret with the username/password for your DB and change the command to utilize those ENVs. I may have gotten some of the indentation off since I was copying this over from another format inside of a helm chart. Hope this helps...its pretty simple to make a "clone" of the default i

[2021-12-14 09:37] Szymongib commented on #266
Hey @mjnagel, thanks for reporting the issue.

I have worked with Istio before so I am aware of this behavior.

We are thinking of refactoring CR to define Service customization in a similar way as we did with Ingress (similarly to your second proposition) as we have requests for some other customizations. Not sure when we will be able to go about it as we would probably like to do it in the new C

[2021-12-14 14:37] mjnagel commented on #266
Ah good catch. I can test that out today and open a PR with the `appProtocol` assuming it looks good on my end.

[2021-12-14 17:43] Szymongib commented on #266
Awesome! Thanks a lot @mjnagel we will have a look!

[2021-12-20 02:13] #266 closed

[2021-12-26 05:51] andrewklau opened #269 "Unable to load configuration: failed to create store (externaldb)"
#### Summary
Unable to store external postgres configuration on version 6 and above with read only error

Using this config:

[code]

[code]

#### Steps to reproduce
- Latest mattermost operator
- Deploy mattermost using helm operator and external DB secret

#### Expected behavior
mattermost starts

[2022-01-03 08:51] Szymongib commented on #269
Hi @andrewklau,

Could you share your Mattermost CR manifest? I have a hard time understanding what is the problem exactly. Are you just trying to run Mattermost with the external database, or is there something specific to your setup?

It looks like Mattermost is trying to interpret the connection string as a file patch which seems a little weird.

I would appreciate some details so that we can h

[2022-01-03 09:28] andrewklau commented on #269
Hi @Szymongib

I'm trying to run mattermost with an external database.  Here's the full yaml file:

[code]

The weird thing is yes it comes up as a file name. When I run the command `kubectl logs -f -n mattermost pod/mattermost-7cc6dbcdfb-9bmd2`  this comes up in the logs:

[code]

The secret file:

[code]

[2022-01-03 11:09] Szymongib commented on #269
Thanks a lot for details @andrewklau.

It looks like the issue is on the Mattermost Server side, apparently, the server only accepts connection schema `postgres` and treats others as a file.

Try changing your connection string to:
[code]
Hopefully, that should solve the issue.

[2022-01-03 11:15] andrewklau commented on #269
Thanks it works now!

[2022-01-03 11:15] #269 closed

[2022-04-28 06:16] tareko opened #277 "Websockets do not work by default on >1 replica"
#### Summary

Websockets do not work when using default installation instructions from here and manual.

#### Steps to reproduce

Set `size: 5000users` to enable >1 replica, which creates problem. Set `size: 100users` to enable only 1 replica, which solves problem.

#### Observed behavior (that appears unintentional)

When there is more than one replica, using mattermost for any length of time res

[2022-04-29 05:16] #277 closed

[2022-05-05 18:21] bitvijays opened #278 "Mattermost | Ingress TLS | Cert-manager | ClusterIssuer not working"
Dear Mattermost Operator Team and the community,

Hope everyone is doing well. Thank you for the awesome work on the Mattermost operator. We really appreciate it; it helps us to make our life easier. Thank you :).

#### Summary

We are trying to deploy Mattermost on a Kubernetes Cluster. Cluster already has cert-manager (cluster-issuer) and Nginx ingress controller. However, when the certificate i

[2022-05-05 22:07] sagikazarmark commented on #278
Seems to be a configuration error to me: https://github.com/mattermost/mattermost-operator/blob/master/docs/examples/mattermost_full.yaml#L20

[2022-05-07 13:46] Szymongib commented on #278
Hey @bitvijays,
I am not very familiar with Cert Manager, but as @sagikazarmark mentioned, you might need to specify the `ingress.tlsSecret`. Also, you can probably check if Secret with certificate gets created and inspect if it is issued properly. Mattermost Operator does not interact with Cert Manager in any way.

Regarding the Ingress Class, you can specify it directly, not as an annotation in

[2022-05-13 17:42] mjnagel opened #279 "Operator image validation check failing with sidecar"
#### Summary

In summary, when using an injected sidecar with Mattermost and the operator the "image validation health check" could erroneously print that the wrong image is being used, depending on the container order.

#### Steps to reproduce

Deploy the operator + something that will inject a sidecar to pods, in the first container position. In my case I was using Istio when I ran into this iss

[2022-05-16 15:00] Szymongib commented on #279
Thanks for reporting @mjnagel!

It definitely looks like a bug.

[2022-05-16 15:07] mjnagel commented on #279
@Szymongib I got a PR up #280 but I was running into issues with the tests failing. Any guidance on whether I took the wrong approach or what might be happening would be appreciated! The only way I could get it to work was by checking for an empty container name (what the test seems to return).

[2022-05-16 15:10] Szymongib commented on #279
I saw the PR, thanks for the fix!

Just added some suggestions there, let me know if it does not solve the issue.

[2022-05-17 06:45] #279 closed

[2022-05-25 01:47] gabrieljackson commented on #255
Due to a few recent requests for this functionality in other communication channels we are opening this up as a help wanted request.

The task would be to provide a clean configuration option for a local filestore type which would be clearly marked as not supported for production environments.

[2022-05-25 02:33] imskrai commented on #215
Can I work on this? @Szymongib

[2022-05-25 02:36] imskr commented on #215
Can I work on this @Szymongib ?

[2022-05-25 09:47] imskr commented on #215
@Szymongib When setting up this repo locally and running command `make build-image kind-load-image deploy` I get following error:

[code]

[2022-05-25 10:29] imskr commented on #215
@Szymongib I had a question:

1. To add the owner reference when launching job update can we simply `return` following [here](https://github.com/mattermost/mattermost-operator/blob/272928435a67a730fe50583fee309a738c9d8536/pkg/resources/update_job.go#L27) ?

[code]

[2022-05-25 11:45] imskr commented on #215
@Szymongib I have a question?

1. Can we directly call `LaunchMattermostUpdateJob` function [here](https://github.com/mattermost/mattermost-operator/blob/272928435a67a730fe50583fee309a738c9d8536/pkg/resources/create_resources.go#L59) ? so that the owner reference gets added

[2022-05-25 12:34] Szymongib commented on #215
Does the `bin` directory exists? You might want to try creating it, but not sure if that will help, will need to look into it.

I do not think so. The `Create` function is called in multiple different places for multiple different objects, we would not like to lunch a job each time it is called. You could however use the `ResourceHelper`s `Create` function to create and update job instead of direc

[2022-05-25 12:43] imskr commented on #215
Yes it does in $GOPATH

Thanks

[2022-05-26 16:05] Szymongib commented on #215
Hey @imskr, there were some issues with scripts installing tooling. You can rebase with master and try again.

[2022-05-27 13:10] imskr commented on #215
@Szymongib Thanks. I am getting following now when running `make build-image kind-load-image deploy`:

[code]

[2022-05-27 13:21] imskr commented on #215
Thanks @Szymongib

[2022-05-27 20:19] BenLloydPearson commented on #228
For @silvermind and @covert8  and anyone else who has this problem. You can work around the issue with mmctl. More info [here](https://forum.mattermost.com/t/plugin-configmap-and-kubernetes/13429/2?u=benlloydpearson).

[2022-05-28 17:10] imskr commented on #224
Can I work on this?

[2022-05-29 11:18] Szymongib commented on #224
Sure @imskr, I will assign you.

[2022-05-29 15:39] imskr commented on #224
Thanks @Szymongib After reading the description I have some thoughts:

1. We can return `bool` alongside `error` in [updateMattermostDeployment](https://github.com/mattermost/mattermost-operator/blob/master/controllers/mattermost/mattermost/mattermost.go#L307) and we can maybe return `true` [here](https://github.com/mattermost/mattermost-operator/blob/master/controllers/mattermost/mattermost/matte

[2022-05-29 23:42] gabrieljackson commented on #224
Hey @imskr, yeah that seems like a fairly reasonable implementation.

For (2), we would want to take the returned bool and have the reconciler queue up another reconcile loop after a certain specific delay. Something like 5-10 seconds seems about right to me. The idea here is we don't want to have the operator think there was too many errors and fall into delayed reconciliation checks which it wil

[2022-05-30 06:07] Szymongib commented on #224
Yes, the general idea sound right, we might however consider returning some struct representing the status from `checkMattermost` instead of simple boolean for better clarity.

[2022-05-30 06:11] Szymongib commented on #228
We are not going to change it in Operator for now and workaround is available, therefore I am closing the issue.

[2022-05-30 06:11] #228 closed

[2022-05-30 13:59] sarce666 commented on #228
hello ben

how to implement the command with the operator deployement ?
thanks

[2022-05-31 13:37] frjaraur opened #286 "mattermost-operator does not provide appropriate configuration for securityContext in mattermost deploymets."
#### Summary
Although mattermost-operator deployment via chart allows securityContext configuration, it is not applied to upstream mattermost installations.
I reviewed CRD definition and it does not appear a securityContext key to configure this secure behavior, therefore mattermost installations fail on secure environments (Pod Security Policies enabled not allowing root containers/specify runAs

[2022-05-31 13:45] frjaraur commented on #286
Sorry, I forgot that neither mattermost-operator nor mattermost instances provide securityContext configurations, I did myself for mattermost operator but it should be added also to mattermost deployments.

[2022-05-31 17:04] Szymongib commented on #286
Hey @frjaraur, thanks for reporting, this came up in the past, and I think we should add it to Mattermost CR.

For now, there exist a workaround with use of `resourcePatch`, you can find the details here https://community.mattermost.com/core/pl/dricyco3sbn85kacom55mq9zey

[2022-05-31 17:08] Szymongib commented on #286
From the linked thread, you can set it by adding to Mattermost resource:
[code]

Operator needs to be at in version 1.17+ and CRDs need to match this version.

[2022-05-31 17:34] frjaraur commented on #286
Thanks, but it seems it will work for initial containers only or did you just post an example?

[2022-05-31 18:34] Szymongib commented on #286
Ah, yeah, that is just example copied straight from the channel. It should be possible to adjust it according to the needs.

[2022-06-01 09:04] sarce666 opened #287 "how to launch a command at start up"
hello

i d like to launch a mmctl command at startup
how could i implement it in my mattermost deployement ?

in the apiVersion: installation.mattermost.com/v1beta1
kind: Mattermost
i cannot add command there ?

thanks

[2022-06-09 14:43] #215 closed

[2022-06-29 18:47] mjnagel opened #290 "Allow overrides to update-check job spec"
#### Summary

From a quick scan through the code I don't believe there is currently any way to override parts of the spec for the update-check job that runs with version updates. It may be desirable to override various parts of this job, for example:
- securityContext: Enforce best practices for security such as runAsNonRoot, dropping all capabilities, etc
- labels/annotations: To better group thi

[2022-06-29 18:49] mjnagel commented on #290
I'm happy to attempt work on these changes, wanted to open the issue to get the conversation started and see if this would be supported. The primary motivation for this is coming from my work on istio injecting Mattermost, without an ability to disable the sidecar (via labels) or terminate the sidecar (via command override) for the update-check upgrades will require manual intervention to successf

[2022-07-04 07:07] Szymongib commented on #290
Hey @mjnagel, thanks for submitting the issue.

I agree that adding a way to configure an update job would be very useful, as well as other things in the `podTemplate` section. We though about something like that in the past, however there are some drawback that make me a little hesitant for allowing overrides of the whole spec.

A big chunk of `podTemplate` is created based on other things in Mat

[2022-07-05 19:52] #224 closed

[2022-07-05 21:08] mjnagel commented on #290
@Szymongib definitely bring up some good points here...it's a balance between providing customization to the end user and making sure that things won't break with that customization.

Could potentially go the route of throwing out any conflicting overrides (i.e. if I try to override the `app` label, the operator ignores my override). Obviously this would need to be well documented/logged so the en

[2022-07-06 06:40] imskr commented on #216
Can I work on this?

[2022-07-06 18:24] Szymongib commented on #216
Hey @imskr,
I think this was actually done when we worked on other issue https://github.com/mattermost/mattermost-operator/tree/master/test/e2e-external.

I think however we could use some more test cases, specifically for Ingress configuration.

We could add another e2e test that would:
- Spin up Mattermost with some special Ingress configuration, ex. multiple hosts, some additional annotations a

[2022-07-07 06:20] imskr commented on #216
Sounds good to me. We can start working on this @Szymongib

[2022-07-21 16:19] Hunter-Thompson opened #293 "AWS ALB Ingress option"
#### Summary
At the moment, only a Service LoadBalancer, and a Nginx Ingress is supported.
It would be great to be able to use an AWS ALB.

AWS only provides a Classic LB if we use Service LoadBalancer.

#### Expected behavior
Add option to create AWS ALB Ingress instead of Nginx Ingress

[2022-07-21 17:08] MarkAndersonTrocme commented on #244
@gabrieljackson I'll take a look at this one

[2022-07-21 17:08] gabrieljackson commented on #244
Awesome! Thanks for picking it up.

[2022-07-21 18:23] Szymongib commented on #286
We would like to add a native support for `securityContext` therefore reopening this.

[2022-07-21 18:45] Szymongib commented on #290
Thanks a lot for diving into this, @mjnagel, and for such detailed write up.

I definitely agree that we can improve with labels and annotations handling as a lot of this things were implemented very early on on never revisited, hence a weird behaviour with labels etc.

We wanted to add support for `securityContext` for some time now as it was requested a bunch of times already. There was even an

[2022-07-26 13:36] #244 closed

[2022-08-11 16:58] #286 closed

[2022-08-11 20:11] mjnagel opened #298 "Support pod labels/annotations"
#### Summary
Currently there is no support for adding annotations on the server pods. Labels can be added via `resourceLabels` but any labels added there are applied to all resources, rather than just the server pods.

This support would be beneficial for grouping things together for ownership and provide for better integration with externally managed resources (i.e. networkPolicy pod selectors).

[2022-08-11 20:13] mjnagel commented on #290
To narrow the focus of this issue to just the update-check I opened #298 to handle the labels/annotations support for the main app server pods.

[2022-08-22 15:43] bitvijays commented on #278
Thank you @sagikazarmark and @Szymongib for your support. `ingress.tlsSecret` resolved this.

[2022-08-22 15:43] #278 closed

[2022-08-24 19:11] #298 closed

[2022-09-13 08:01] #290 closed

[2022-09-15 17:00] mjnagel commented on #255
@Szymongib / @gabrieljackson If you want to assign me to this, I've got a PR that hopefully resolves - https://github.com/mattermost/mattermost-operator/pull/305 - happy to make any modifications needed to get it ready.

[2022-09-16 15:34] #216 closed

[2022-09-16 15:48] gabrieljackson commented on #257
We are opening this feature request as a help wanted ticket for anyone interested in implementing it.

[2022-09-16 15:52] Szymongib opened #306 "Add version upgrade to e2e external test"
#### Summary

With have e2e test working with "external" database and filestore. It is currently very simplistic, just spawning new instance and waiting for it to be stable.

https://github.com/mattermost/mattermost-operator/blob/master/test/e2e-external/external_db_filestore_test.go#L45-L64

We can extend this test with a Mattermost version upgrade.

The test should:
- Spin up Mattermost and wait

[2022-09-16 15:56] Szymongib opened #307 "Add e2e external test for sizes and resource constraints"
#### Summary
We can add e2e test using the "external" DB and filestore to verify that sizing and resource constraint logic works correctly.

The test can:
- Spin up Mattermost instance with specified size.
- Assert that it starts correctly and that replicas and resources are set based on size.
- Assert that size value was removed.
- Manually change resource constraints.
- Assert that resources whe

[2022-09-16 15:58] Szymongib opened #308 "Resource Patch e2e test"
#### Summary

We can add an e2e test for resource patch functionality.

The test should be fairly simple:
- Create Mattermost instance with resource patch specified for Deployment and Service.
- Assert that changes are applied to both resources.

Example patches can be found in unit tests https://github.com/mattermost/mattermost-operator/tree/master/apis/mattermost/v1beta1/testdata

[2022-09-16 16:12] aerokite commented on #306
I will take this. Please assign me

[2022-09-16 16:14] gabrieljackson commented on #306
Thanks @aerokite!

[2022-09-16 18:36] aerokite commented on #306
what is expected here?

with Mattermost Version update, Server Version should be updated, right?
But, external DB & filestore will not be affected.

[2022-09-16 18:39] Szymongib commented on #306
But, external DB & filestore will not be affected.

Yes, that is correct. Basically we want to extend [the test](https://github.com/mattermost/mattermost-operator/blob/master/test/e2e-external/external_db_filestore_test.go#L16) to update this version https://github.com/mattermost/mattermost-operator/blob/master/apis/mattermost/v1beta1/mattermost_types.go#L40.

[2022-09-16 18:43] aerokite commented on #306
Understood, but this test already exists [here](https://github.com/mattermost/mattermost-operator/blob/master/test/e2e/mattermost_test.go#L58).

Do you want similar test for e2e external?

[2022-09-16 18:45] Szymongib commented on #306
Yes. The other test is working with MySQL and MinIO operators and we eventually want to get rid of those, therefore we want to start migrating a bunch of those tests to new framework based on external DB and filestore.

[2022-09-17 03:10] aerokite commented on #307
I will take it

[2022-09-19 15:42] #306 closed

[2022-09-20 07:21] imskr commented on #308
I want to work on it

[2022-09-20 07:33] Szymongib commented on #308
Awesome, thanks @imskr.

[2022-09-29 01:51] #307 closed

[2022-09-29 16:51] gabrieljackson commented on #287
@sarce666, we are going to close this for now. If you still have a reason for wanting to run a custom startup command please let us know.

[2022-09-29 16:51] #287 closed

[2022-09-29 16:52] #185 closed

[2022-10-07 02:14] anwarchk opened #313 "CVEs mitigation"
Current version of `mattermost-operator` published in Docker Hub and Iron Bank  has CRITICAL and HIGH CVEs as reported by Trivy

[code]

Based on the fix suggested by Trivy, it looks like a straight forward dependency update. I was wondering is this something the team could fix and help customers deploy (self-hosted) version of more secure Mattermost that is compliant with Federal and NIST guideli

[2022-10-25 21:11] #313 closed

[2022-11-01 23:10] #255 closed

[2022-11-07 20:19] jholt96 opened #315 "Mattermost Operator Does Not Support AWS IAM Profile for S3 Bucket Auth"
#### Summary

Mattermost Operator expects to have Access key and Secret key set in a secret.
#### Steps to reproduce

#### Expected behavior

Expected behavior is to allow Mattermost to use the IAM Profile attached to the node instance
#### Observed behavior (that appears unintentional)

When I try not to set the Access Key and Secret Key, it gives an error saying the secret is required.

#### Pos